[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Mm]emoryCaptures/


# Автогенерируемые файлы Visual Studio / Rider / MD
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Cloud / Collaborate
.sysinfo

# Crash reports
*.stackdump

# Plastic SCM
.plastic/

# Gradle (Android)
.gradle/
*.apk
*.aab

# --- JetBrains Rider / IntelliJ ---
.idea/
*.sln.iml

**/shelf/
**/workspace.xml
**/projectSettingsUpdater.xml
**/modules.xml
**/contentModel.xml
**/queries/
**/dataSources/
**/dataSources.local.xml
**/httpRequests/